asyncio==3.4.3
merkle
git+https://github.com/Conio/pybitcointools.git
git+https://github.com/gdassori/connectrum.git
async-timeout
aiohttp
jsonrpcserver
sqlalchemy
coverage
-e git+https://github.com/richardkiss/pycoinnet.git@remix#egg=pycoinnet-remix