git+https://github.com/Conio/pybitcointools.git#egg=pybitcointools
git+https://github.com/gdassori/connectrum.git#egg=connectrum-0.5.3-gdassori-0.4
async-timeout
aiohttp
jsonrpcserver
sqlalchemy
coverage
-e git+https://github.com/gdassori/pycoinnet.git@spruned-support#egg=pycoinnet
-e git+https://github.com/gdassori/pycoin.git@spruned-support#egg=pycoin-0.90a
plyvel